<h3>Send an Alert</h3>
<form #alertForm="ngForm">
  <mat-form-field>
    <input matInput [(ngModel)]="alert" type="text" name="alert" placeholder="Alert" required>
  </mat-form-field>
  <button mat-raised-button color="primary" id="sendButton" [disabled]="!alertForm.form.valid" (click)="onSubmit()">Send</button>
</form>