mat-sidenav {
    background: white;
}
.all-wrap {
    min-height: 100vh;
  }

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

mat-slide-toggle {
    margin-left: 1rem;
}

.fast-access {
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*
* Make the Component injected by Router Outlet full height:
*/
main {
    display: flex;
    flex-direction: column;
    > *:not(router-outlet) {
        flex: 1;
        display: block;
    }
}